@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Thin.ttf);
    font-weight: 100;
    font-style: light;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    border: white;
    padding: 10px 20px;
    background-color: white;
    color: #fff;
    opacity: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_button button {
    border: none;
    color: #000000;
    background: white;
    font-size: 16px;
}

.header__img {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.header_button {
    margin-right: 600px;
    margin: 10px;
}

.img {
    margin-left: 100px;
}

.dem {
    width: 100%;
}

.photo_text {
    background-color: #E8F9FD;
    width: 643px;
    height: 443px;
    position: absolute;
    padding: 20px 20px;
    margin-left: 200px;
    border-radius: 10px;
    border: 1.5px solid black;
    margin-left: 40rem;
    top: 212px;
}

.photo_text p {
    padding: 0 0 0 25px;
}

.paragraph {
    padding: 25px;
    font-weight: bold;
}

.photo__button button {
    background-color: #46B6C5;
    padding: 25px 72px 25px 72px;
    color: white;
    width: 222px;
    height: 74px;
    margin-top: 100px;
    margin-left: 20px;
    border: none;
}

.photo_text h1 {
    color: #46B6C5;
    font-size: bold 50px !important;
    margin-left: 20px;
    color: rgb(131, 207, 207);
}

.photo {
    display: flex;
    justify-content: center;
}

.p {
    font-weight: 100;
}

.text__main {
    height: 112px;
    right: 50px;
    padding: 10px;
    left: 449px;
    margin-bottom: 50px;

}

.text {
    text-align: center;
}

#main_p {
    font-family: 'Poppins';
    color: #666666;
}

.text__img {
    display: flex;
    justify-content: space-around;
}

.description {
    display: flex;
    justify-content: space-around;
}

.div {
    display: flex;
    margin: 15px;
    gap: 8px;
}

.btn {
    background-color: #46B6C5;
    padding: 20px 62px 25px 72px;
    color: white;
    font-size: 17px;
    height: 55px;
    margin-top: 100px;
    margin-left: 20px;
    border: none;
}

.main_price1 {
    max-width: 285px;
    max-height: 550px;
    display: flex;
    padding: 80px;
    gap: 50px;
}

.price_img {
    background: #F4F5F7;
    display: flex;
}

.main_price2 {
    max-width: 285px;
    max-height: 550px;
    display: flex;
    padding: 80px;
    gap: 50px;
}

.price_img2 {
    display: flex;
}

.price_img2 {
    background: #F4F5F7;
}

.price_img3 {
    background: #F4F5F7;
}

.price_img4 {
    background: #F4F5F7;
}

#old_price2 {
    text-decoration: line-through;
    color: #B0B0B0;

}

.special_price2 {
    gap: 17px;
    display: flex;
    margin-bottom: 5px;
}

.hidden {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    color: white;
}

.hidden:hover {
    opacity: 1;
}

.prices h1 {
    text-align: center;
}

.price_img2 {
    position: relative;
}

.price_img2:hover {
    filter: brightness(60%);
    transition: 0.6s;

}

.price_img2:hover .hidden {
    display: block;
    position: absolute;
    z-index: 100;
}

.hidden {
    display: none;
}

.price__text p {
    font-family: light;
    margin-top: 24px;
}

#old_price {
    text-decoration: line-through;
    color: #B0B0B0;
}

.special_price {
    display: flex;
    text-align: center;
    gap: 17px;
    margin-bottom: 13px;
}

#old_price3 {
    text-decoration: line-through;
    color: #B0B0B0;
}

.special_price3 {
    display: flex;
    text-align: center;
    gap: 17px;
    margin-bottom: 15px;
}

#price_button {
    background-color: #F4F5F7;
    padding: 10px 5px 0px 0px;
    margin-top: -45px;
    margin-left: 600px;
    color: #46B6C5;
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 245px;
    height: 48px;
    border: 2px solid #46B6C5;
}

.price_img5 {
    background: #F4F5F7;
}

.price_img6 {
    background: #F4F5F7;
}

.price_img7 {
    background: #F4F5F7;
}

.price_img8 {
    background: #F4F5F7;
}

.special_price7 {
    display: flex;
    gap: 15px;
}

#old_price7 {
    text-decoration: line-through;
    color: #B0B0B0;
    margin-bottom: 13px;
}

.room {
    background-color: rgb(240, 240, 238);
    max-width: 1400px;
    height: 680px;
    margin: 90px 0px;
}

#rooms_button {
    background-color: #46B6C5;
    padding: 10px 0px 10px 0px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 187px;
    height: 48px;
    border: 2px solid #46B6C5;
}

.rooms_text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 120px 0px 0px 70px;
    width: 400px;
    height: 240px;
    gap: 20px;
}

.rooms_img {
    display: flex;
    justify-content: end;
    margin-top: -690px;
    gap: 15px;
}

.information {
    background-color: #BDE9EF;
    width: 1500px;
    height: 300px;
    margin-top: 60px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.main_info p {
    color: #B0B0B0;
}

#link {
    color: #B0B0B0;
}

#help {
    color: #B0B0B0;
}